@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Caprasimo&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    
    font-family: "Caprasimo", serif;
    justify-content: center;
    padding: 10px;
    color:rgb(214, 34, 214);
    overflow: hidden;
}

.cat {
      position: absolute;
      bottom: 20px;
      left: -100px;
      width: 64px;
      height: 64px;
      background-image: url(cat.png);
      background-size: contain;
      background-repeat: no-repeat;
      animation: walkAcross 10s linear infinite;
    }


@keyframes walkAcross {
    0% {
        left: -100px;
    }
    100% {
        left: 100vw;
    }
}

.text{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
    margin-left: 300px;
}
@media(max-width: 480px){
  .text{
    width: 95%;
    margin-left: 0%;
  }
}


.first{
    white-space: pre-wrap;
    margin-bottom: 20px;

}

.cursor {
      display: inline-block;
      width: 6px;
      height: 20px;
      margin-left: 2px;
      background-color: rgb(214, 34, 214);
      animation: blink 0.6s steps(1) infinite;
      vertical-align: bottom;
    }

@keyframes blink {
      0%, 100% { opacity: 1; }
      50% { opacity: 0; }
}

/* From Uiverse.io by catraco */ 
.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
  margin-left: 200px;

}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
 
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
  
}

.three{
    margin-bottom: 40px;
}





